body {
    display: flex;
    justify-content: center;
    background: #ccc;
}

.calc {
    margin-top: 50px;
    padding: 15px;
    box-shadow: 0 10px 6px -6px #777;
    background: rgb(105, 88, 88);
}

.buttons {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px;
}

.equal {
    grid-column-start: 1;
    grid-column-end: 5;
}

.readout {
    background: #fff;
    margin-bottom: 10px;
    padding-right: 5px;
    padding-top: 5px;
}

.display {
    height: 20px;
    width: 195px;
    text-align: right;
    font-size: 15px;
    opacity: .75;
}

.input {
    height: 40px;
    width: 195px;
    text-align: right;
    font-size: 30px;
}